@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');


.about_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.about_body h1{
    margin-top: 4vh;
    font-size: 56px;
    font-weight: 600;
}
.about_body h1 span{
    color: #644CC6;
}
.about_body h1 span:nth-child(2){
    color: #FF672B;
}
.about_body img{
    max-width: 640px;
}

.about_container{
    /* height: 400px; */
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    font-family: 'Prompt', sans-serif;

}
.about_container_block{
    margin-top: 8vh;
    width: 25%;
    text-align: center;
}
.about_container img{
    max-width: 180px;
}
.about_container h3{
    padding: 0px 20px;
    margin-top: 4vh;
    text-align: center;
}
.about_body hr{
    width: 90%;
    border-top: 2px solid black;
    margin-top: 20vh;
    padding: 0;
}

.about_logo{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about_logo img{
    max-width: 180px;
}
.about_logo img:nth-child(2){
    max-width: 420px;
}

.about_bottom{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
}
.about_email_input {
    width: 80%;
    margin-top: 6vh;
    text-align: center;
}
.about_email_input span{
    font-weight: 700;
}
.about_email_input input{
    font-family: 'Prompt', sans-serif;
    border: none;
    background: none;
    background-color: #EDF2F7;
    border-bottom: 1px solid #644CC6;
    padding: 3px 15px;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
    width: 70%;
}
.about_email_input button{
    font-family: 'Inter', sans-serif;
    background: none;
    padding: 10px 15px;
    border: none;
    background-color: #644CC6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.about_email_input button:hover{
    background-color: #8a6ef8;
}
.about_email_input h4{
    margin-top: 2vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0.3px;
}
.about_email_input h4 a{
    color: #FF672B;
}

@media only screen and (max-width:480px){
    .about_body h1{
        font-size: 36px;
    }
    .about_body img{
        max-width: 300px;
    }
    .about_body hr{
        width: 90%;
        border-top: 2px solid black;
        margin-top: 8vh;
        padding: 0;
    }

    .about_logo img{
        margin-top: 2vh;
        max-width: 120px;
    }
    .about_logo img:nth-child(2){
        margin-top: 2vh;
        max-width: 180px;
        margin-bottom: 2vh;
    }

    .about_container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        font-family: 'Prompt', sans-serif;
    }
    .about_container_block{
        margin-top: 2vh;
        width: 80%;
    }
    .about_container img{
        max-width: 240px;
    }
    .about_container h3{
        padding: 0px 20px;
        margin-top: 1vh;
    }
    .about_bottom{
        width: 90%;
    }
    .about_bottom h1{
        font-size: 1.7rem;
    }
    .about_bottom h2{
        font-size: 1.3rem;
    }
    .about_email_input {
        width: 90%;
        margin-top: 2vh;
    }
    .about_email_input h4{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:1280px) and (min-width:1000px){
    .about_logo{
        width: 90%;
    }
    .about_logo img{
        max-width: 120px;
    }
    .about_logo img:nth-child(2){
        max-width: 260px;
    }
    .about_body hr{
        width: 90%;
        margin-top: 10vh;
    }
}