@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');


.contact_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
}
.contact_body h1{
    font-size: 72px;
    letter-spacing: 4px;
}
.contact_body span{
    color: #644CC6;
}
.contact_body span:nth-of-type(2){
    color: #FF672B;
}

.status_container{
    min-width: 400px;
    max-width: 90vw;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    border-radius: 6px;
    padding: 15px 0;
}

.status_success{
    border: 1px solid #677C5E;
    background-color: #DEF3D6;
    color: #677C5E;
}

.status_error{
    border: 1px solid #9e4744;
    background-color: #ECC8C4;
    color:  #9e4744;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.form input{
    width: 45%;
    margin-top: 2vh;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #EDF2F7;
    border: none;
    border-bottom: 1px solid #644CC6;
    border-radius: 5px 5px 0px 0px;
}
.form input[name="data"]{
    width: 100%;
    padding-bottom: 20vh;
}

.bt{
    width: 100%;
    text-align: center;
    align-items: center;
}
.form button{
    align-items: center;
    padding: 4px 25px;
    margin-top: 3vh;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #644CC6;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.form button:hover{
    background-color: #8a6ef8;
}

/* มิวดูเน็ตละมั่วมาเรื่อยๆครับ */
.contact_body h2{
    width: 60%;
    margin-top: 2vh;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    position: relative;
    text-align: center;
    
}
.contact_body h2:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    z-index: -1;

}
.contact_body h2 span{
    padding: 0px 20px;
    background: white;
    color: black;
}


.link{
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.link a{
    font-size: 3rem;
    color: black;
}

@media only screen and (max-width:480px){
    .contact_body h1{
        font-size: 3rem;
    }
    .form{
        width: 80%;
    }
    .link{
        width: 80%;
    }
}