
.dropdown{
    
    position: absolute;
    top: 8vh;
    width: 300px;
    background-color: white;
    transform: translateX(-45%);
    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: 2px 2px 2px 2px rgba(177, 177, 177);
}

.dropmenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: white;
    z-index: 99 !important;
}
.profile{
    width: 95%;
    display: flex;
    margin-top: 10px;
}
.profile a{
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    background-color: #7663C4;
    color: white;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
}
.profile a svg{
    margin-right: 10px;
    font-size: 22px;
    color: black;
}

.hr{
    width: 90%;
    height: 2px;
    background-color: #7663C4;
    margin: 10px 0;
}
.nav_icon1{
    font-size: 25px;
}

.dropitem {
    width: 90%;
    margin: 1px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.dropitem a {
    font-family: 'Montserrat';
    color: #7663C4;
    font-size: 16px;

}

.dropitem svg{
    color: black;
    border: none;
    font-size: 20px;
    margin-right: 15px;
}

.dropitem.login_dropitem{
    margin-top: 20px;
    background-color: #FF672B;
}
.dropitem.register_dropitem{
    background-color: #644CC6;
}

svg.logout_icon{
    color: black;
}

.btn_nav{
    font-family: 'Kanit', sans-serif;
    background: none;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    outline: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_nav div:nth-child(1){
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.nav_icon1{
    color: #545454;
    margin-right: 5px ;
    border: 1px solid #545454;
    border-radius: 50%;
    padding: 4px;
}
.nav_icon2{
    margin-left: 5px;
}





@media only screen and (max-width:480px){
    .dropdown{
        top: 9vh;
        width: 96vw;
        transform: translateX(-32%);
    }
    
}
@media only screen and (max-width:376px) and (min-width:359px){
    .dropdown{
        top: 9vh;
        width: 94vw;
        transform: translateX(-30%);
    }
}