@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;600&display=swap'); 




.err_msg{
    font-family: "Montserrat";
    font-size: 13px;
    color: red;
}

.background_modal{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    max-height: fit-content;
    background-color: #f1f0f0e0;
    display: flex;
    z-index: 7;
    align-items: center;
    justify-content: center;
}

.me{
    font-family: "Mitr";
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.me span span span:nth-child(2){
     background-color: #F1F0F0;
     color: black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

@media only screen and (max-width: 500px){
    .none{
        display: none !important;
    }

    .force_width{
        width: 100vw;
    }
}



.DayPicker-Month{
    display: flex;
    flex-direction: column;
}

.DayPicker-Weekdays{
    width: 100%;
}
.DayPicker-WeekdaysRow{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.DayPicker-Week{
    display: flex;
    justify-content: space-evenly;
}

div.DayPicker-Day.DayPicker-Day--outside{
    margin: 0 5px;
}

.DayPickerInput input{
    padding: 5px 15px;
    outline: none;
    border: none;
    margin-top: 5px;
    border-bottom: 1px solid black;
    background: none;
    color: darkorange;
    font-size: 18px;
    width: 150px;
}

@media only screen and (max-width: 390px){
    .DayPicker-Month{
        top: 0;
    }
}


@media only screen and (max-width: 900px){

    .resSideBar{
        display: none !important;
    }

    .resAct{
        width: 100% !important;
    }
}