@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');



.home_body{
    display: flex;
    flex-direction: column;
}

.home_calendar_container{
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    color: #666666;
}


.calendar_container_left{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.calendar_container_left h1{
    font-size: 2rem;

}
.calendar_container_left img{
    width: 400px;
    max-width: 85vw;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(177, 177, 177);
}

.calendar_container_right{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar_container_right h1{
    font-size: 2.4rem;
}
.calendar_container_right h1 span:nth-child(1){
    color: #644CC6;
}
.calendar_container_right h1 span:nth-child(2){
    color: #FF672B;
}
.home_email_input {
    width: 80%;
    margin-top: 20px;
    text-align: center;
}
.home_email_input span{
    font-weight: 700;
}
.home_email_input input{
    font-family: 'Prompt', sans-serif;


    border: none;
    background: none;
    background-color: #EDF2F7;
    border-bottom: 1px solid #644CC6;
    padding: 3px 15px;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
    margin: 5px 15px;
    width: 60%;
}
.home_email_input button{
    font-family: 'Inter', sans-serif;

    background: none;
    padding: 10px 15px;
    border: none;
    background-color: #644CC6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.home_email_input button:hover{
    background-color: #8a6ef8;

}


/* ปุ่มด้านล่างหน้าโฮม */
.bottom_calender{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    
}
.bottom_calender_left button{
    display: flex;
    flex-direction: row;
    color: white;
    background: #644CC6;
    font-family: 'Prompt', sans-serif;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    width: 220px;
}
.bottom_calender_left button:hover{
    background-color: #8a6ef8;
}
.bottom_calender_left h3 {
    font-weight: 1;
}
.bottom_calender_left span{
    margin-left: 5px;
    font-weight: 900;
    font-size: 16px;
}
.bottom_calender_right button{
    display: flex;
    flex-direction: row;
    color: white;
    background: #FF672B;
    font-family: 'Prompt', sans-serif;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    width: 220px;
}
.bottom_calender_right button:hover{
    background-color:  #fc9a74; 
    /* มิวมั่วสี */
}
.bottom_calender_right h3 {
    font-weight: 1;

}
.bottom_calender_right span{
    margin-left: 5px;
    font-weight: 900;
    font-size: 16px;
}
/* หน้าล่างหน้าแรก */
.recommend_container{
    margin-top: 10vh;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: row;
    height: 600px;
    /* padding: 18vh 0px 0vh 0px; */
}
.recommend_container_left{
    /* margin-left: 4vw; */
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background: #644CC6;
}

.recommend_container_right{
    margin-left: 2vw;
    
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    align-items: left;
}
.recommend_container_right h1{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #8F8F8F;
}
.recommend_container_right span{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-right: 0vw;
}
/* หน้าล่างหน้าสอง */
.recommend_container_two{
    /* margin-top: 10vh; */
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: row;
    height: 600px;
    /* padding: 18vh 0px 12vh 0px; */
}
.recommend_container_two_left{
    margin-left: 2vw;
    
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    align-items: left;
}
.recommend_container_two_left h1{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #8F8F8F;   
}
.recommend_container_two_left span{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.recommend_container_two_right{
    /* margin-left: 4vw; */
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background:#FF672B;
}
.endpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    padding-left: 5vw;
}
.endpage img{
    padding: 4vw;
    max-width: 800px;
}


@media only screen and (max-width:480px){
    .calendar_container_left{
        width: 100vw;
    }
    .calendar_container_right{
        width: 100vw;
        margin: 20px ;
    }
    .calendar_container_left h1{
        font-size: 1.6rem;
    }
    .calendar_container_right h1{
        font-size: 1.6rem;
    }
    .home_email_input {
        width: 90%;
    }
    .home_email_input input{
        width: 100%;
        margin: 0;
    }
    .home_email_input button{
        font-size: 0.8rem;
        padding: 10px 5px;
        margin-top: 10px;
    }

    .bottom_calender_left button{
        width: 200px;
        padding: 10px 30px;
        font-size: 12px;
    }
    .bottom_calender_right button{
        width: 200px;
        padding: 10px 30px;
        font-size: 12px;
    }
    .recommend_container{
        flex-direction: column;
        height: 300px;
        /* padding-top: 12vh; */
        margin: 0px;
        padding: 0vw 3vw 0vw 3vw;
    }
    .recommend_container_left{
        margin-top: 10vh;
        
        width: 100%;
    }
    .recommend_container_left img{
        width: 80%;
    }
    .recommend_container_right{
        width: 100%;
        margin-top: 10px;
        /* padding: 30px; */
        font-size: 10px;
    }
    .recommend_container_two{
        flex-direction: column-reverse;
        height: 400px;
        /* padding-top: 12vh; */
        margin: 0px;
        padding: 0vw 3vw 0vw 3vw;
    }
    .recommend_container_two_right{
        width: 100%;
    }
    .recommend_container_two_right img{
        width: 80%;
    }
    .recommend_container_two_left{
        width: 100%;
        margin-top: 10px;
        /* padding: 30px; */
        font-size: 10px;
    }
    .endpage{
        padding-left: 0px;
    }
    .endpage img{
        max-width: 600px;
    }
}

@media only screen and (max-width:1024px) and (min-width:480px){
    .calendar_container_left{
        width: 100vw;
    }
    .calendar_container_right{
        width: 100vw;
        margin: 20px ;
    }
    .calendar_container_left h1{
        font-size: 1.6rem;
    }
    .calendar_container_right h1{
        font-size: 1.6rem;
    }
    .home_email_input {
        width: 90%;
    }
    .home_email_input input{
        width: 100%;
        margin: 0;
    }
    .home_email_input button{
        font-size: 0.8rem;
        padding: 10px 5px;
        margin-top: 10px;
    }

    .bottom_calender_left button{
        width: 200px;
        padding: 10px 30px;
        font-size: 12px;
    }
    .bottom_calender_right button{
        width: 200px;
        padding: 10px 30px;
        font-size: 12px;
    }
    .recommend_container{
        flex-direction: column;
        height: 500px;
        /* padding-top: 12vh; */
        margin: 0px;
        padding: 0vw 3vw 0vw 3vw;
    }
    .recommend_container_left{
        margin-top: 10vh;
        
        width: 100%;
    }
    .recommend_container_left img{
        width: 80%;
    }
    .recommend_container_right{
        width: 100%;
        margin-top: 10px;
        /* padding: 30px; */
        font-size: 10px;
    }
    .recommend_container_two{
        flex-direction: column-reverse;
        height: 500px;
        /* padding-top: 12vh; */
        margin: 0px;
        padding: 0vw 3vw 0vw 3vw;
    }
    .recommend_container_two_right{
        width: 100%;
    }
    .recommend_container_two_right img{
        width: 80%;
    }
    .recommend_container_two_left{
        width: 100%;
        margin-top: 10px;
        /* padding: 30px; */
        font-size: 10px;
    }
    .endpage{
        padding-left: 0px;
    }
    .endpage img{
        max-width: 600px;
    }
}
