@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');



.home_body{
    display: flex;
    flex-direction: column;
}

.home_calendar_container{
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    color: #666666;
}


.calendar_container_left{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.calendar_container_left h1{
    font-size: 2rem;

}
.calendar_container_left img{
    width: 400px;
    max-width: 85vw;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(177, 177, 177);
}

.calendar_container_right{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar_container_right h1{
    font-size: 2.4rem;
}
.calendar_container_right h1 span:nth-child(1){
    color: #644CC6;
}
.calendar_container_right h1 span:nth-child(2){
    color: #FF672B;
}
.home_email_input {
    width: 80%;
    margin-top: 20px;
}
.home_email_input span{
    font-weight: 700;
}
.home_email_input input{
    font-family: 'Prompt', sans-serif;


    border: none;
    background: none;
    background-color: #EDF2F7;
    border-bottom: 1px solid #644CC6;
    padding: 3px 15px;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
    margin: 5px 15px;
    width: 60%;
}
.home_email_input button{
    font-family: 'Inter', sans-serif;

    background: none;
    padding: 10px 15px;
    border: none;
    background-color: #644CC6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.home_email_input button:hover{
    background-color: #8a6ef8;

}


@media only screen and (max-width:800px){
    .calendar_container_left{
        width: 100vw;
    }
    .calendar_container_right{
        width: 100vw;
        margin: 20px ;
    }
    .calendar_container_left h1{
        font-size: 1.6rem;
    }
    .calendar_container_right h1{
        font-size: 1.6rem;
    }
    .home_email_input {
        width: 90%;
    }
    .home_email_input input{
        width: 100%;
        margin: 0;
    }
    .home_email_input button{    
        font-size: 0.8rem;
        padding: 10px 5px;
        margin-top: 10px;
    }

    
}