

.register-form h5 a{
    color: #FF672B;
}

.register-form h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #666666;
    letter-spacing: 1.8px;
    font-size: 25px;
}

.register_agree{
    
}
.register_agree input {
    margin-right: 15px;
    cursor: pointer;
}
.register_agree a{
    text-decoration: underline;
    color: blueviolet;
}

@media only screen and (max-width:480px){
    .register-form h1{
        font-size: 22px;
    }

    
}
