




.reset_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.7);

}

.h1{
    text-align: center;
    font-size: 70px;
}
.h3{
    font-size: 3rem;
}

.h3 span{
    color:  #FF672B;
}

.container{
    width: 40%;
    margin-top: 7%;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form input{
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.form input[type="email"]{
    padding: 10px 15px;
    font-size: 18px;
    width: 70%;
    background-color: #EDF2F7;
    border: none;
    border-bottom: 1px solid #644CC6;
    border-radius: 5px 5px 0px 0px;

}
.form input[type="submit"]{
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    border-radius: 3px;
    background-color: #644CC6;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}
.form input[type="submit"]:hover{
    background-color: #8a6ef8;
}



@media only screen and (max-width:480px){
    .container{
        width: 80%;
    }

    .form input[type="email"]{
        width: 100%;
        margin: 5px 0;
    }
    
}
