@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

.failed_body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10vh;
    font-family: 'Prompt', sans-serif;
}

.failed_body h1{
    font-family: 'Prompt', sans-serif;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 4vh;
}
.failed_body h1 span{
    color:  #FF672B;
}
.failed_body h3{
    font-size: 1.6rem;
    word-wrap: break-word;
}

.button_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}
.button_container a{
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    border-radius: 5px;
    background-color: #644CC6;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
}
.button_container a:nth-child(2){
    background-color: white;
    color: black;
}

.failed_body img{
    position: absolute;
    max-width: 480px;
    left: 8vw;
    top: 50%;
    z-index: -1;
    filter: opacity(.5);
}

@media only screen and (max-width:480px){
    .failed_body h1{
        font-size: 1.8rem;
        margin-bottom: 4vh;
    }
    .failed_body h3{
        font-size: 1.0rem;
        padding: 0vh 2vw;
    }

    .failed_body img{
        max-width: 300px;
        top: 65%;
    }
}