@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

.complete_body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    padding-bottom: 10vh;
}
.complete_body h1{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}
.complete_body h1 span{
    color:  #FF672B;
}

.complete_body button{
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    border-radius: 5px;
    background-color: #644CC6;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 4vh;
}
.complete_body img{
    position: absolute;
    max-width: 400px;
    right: 8vw;
    top: 50%;
    z-index: -1;
    filter: opacity(.5);
}

@media only screen and (max-width:480px){
    .complete_body h1{
        font-size: 1.6rem;
    }
    .complete_body img{
        max-width: 280px;
        top: 65%;
       left: 15%;
    }
}